<div id="page-content">
  <div class='container-fluid' id="home-container">
    <div class="jumbotron text-center text-white p-3" id="home-jumbo">
      <h1 class="display-4"> Test Agenda </h1>
      <p class="lead">Sign up to start saving your contacts!</p>
      <hr class="my-4">
      <p> Only the user can view its contacts </p>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>