<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <% if !user_signed_in? %>
      <%= link_to "Home", root_path, class: "navbar-brand p-2", id: "logo"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to "User", user_path(current_user), class:"nav-link"%>
        
        </li>
          <li class="nav-item">
            <li >
              <%= link_to "Create new contact", new_contact_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Contacts", contacts_path, class: "nav-link" %>
            </li>
              <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>